
<!-- /* Buttons */ -->

.button{
    /* Margin to offset the button from the rest of the content */
    margin-top: 1.2rem; 

    border: none;
    border-radius: 1rem;

    background: none;
    background-color: black;
    padding: 1rem 2rem;
    color: white;
    
    font-size: 1.2rem;
    font-family: 'DM Sans';
    font-weight: bold;

    text-decoration: none;
    justify-content: center;
    text-align: center;
    display: block;
    width: 100%;
    
}

.button.primary:hover{
    /* background-color:#13162c;     */
    border-color: white;
    outline-style: solid;
    outline-width: 4px;
    outline-color: white;
    outline-offset: -4px;
    transition: outline-width 150ms ease, outline-offset 150ms ease;
}


.button.secondary{
    background-color: transparent;
    padding: .3rem 2rem;
    border: 3.5px solid black;
    color: black;
    border-radius: .8rem;
}

.button.secondary:hover{
    background-color: white;
    
    transition: 150ms ease;

}

.button.disabled{
    background-color: #e5e5e5;
    color: var(--darker-gray);
    cursor: default;
    user-select: none;
}
